<div class="p-5">
  <div>
    <div class="d-flex justify-content-between align-items-center">
      <p class="fs-3 fw-bold">予定一覧</p>
      <%= link_to "新規作成", new_schedule_path, class: "btn btn-primary"%>
    </div>
  </div>

  <div>
    <table class="mt-5 border table">
      <thead>
        <tr>
          <th>ID</th>
          <th>タイトル</th>
          <th>開始日時</th>
          <th>終了日時</th>
          <th>終日</th>
          <th>更新日時</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @schedules %>
      </tbody>
    </table>
  </div>

  <footer class="card">
    <div class="card-footer d-flex justify-content-between">
      <p class="text-muted"><%= "予定合計 #{@schedules.count}" %></p>
      <p>本日の日付 : <%= l Time.zone.today %></p>
    </div>
  </footer>
</div>